doctype html 
html 
    head 
        meta(charset='#{charset}')
        block scripts
            script(src='jquery.js')
            script(src="undersoure.js")
            script(src="backbone.js")
     body
        block content 
            p please write content       